body{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container-fluid .container {
background-color: aliceblue;
margin-top: 20px;
height: 85vh;
}
.navbar ul li a {
color: black;
}
.navbar ul li a:hover {
border: 1px solid yellow;
border-radius: 10px;
color: black;
}
.history{
margin: auto;
width: 80%;
margin-top: 10px;
text-align: center;
}
.card {
width: 60%;
margin: auto;
margin-top: 30px;
height: 60vh;
}
.dates {
display: flex;
justify-content: space-around;
margin-top: 20px;
flex-wrap: wrap;
}
legend {
text-align: center;
}
label.sex  {
width: 100%;
margin: auto;
text-align: center;
margin-top: 25px;
}
input{
background-color: transparent;
border-radius: 20px;
}
input#year {
width: 20%;
}
#sub, #reset {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
width: 120px;
margin: auto;
margin-top: 15px;
}
.display {
width: 50%;
margin: auto;
text-align: center;
}
.start {
width: 15%;
margin: auto;
margin-top: 20px;
}
