body{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container-fluid .container {
background-color: aliceblue;
margin-top: 20px;
height: 85vh;
}
.navbar ul li a {
color: black;
}
.navbar ul li a:hover {
border: 1px solid yellow;
border-radius: 10px;
color: black;
}
.history{
margin: auto;
width: 80%;
margin-top: 10px;
text-align: center;
}
.card {
width: 60%;
margin: auto;
margin-top: 30px;
height: 50vh;
}
.dates {
display: flex;
justify-content: space-around;
margin-top: 20px;

}
legend {
text-align: center;
}
label.sex  {
margin-top: 25px;
margin-left: 230px;
}
.buttons {
display: flex;
justify-content: space-evenly;
margin-top: 50px;
}
input{
background-color: transparent;
border-radius: 20px;
}
.display {
width: 50%;
margin: auto;
}
.start {
width: 15%;
margin: auto;
margin-top: 20px;
}
